:root {
    --darkColor: #000000;
    --darkBackgroundColor: #202020;/*#181915;*/
    --darkBackgroundLighterColor: #272822;
    --textColor: #CCC;
    --textDarkerColor: #888888;
    --textDarkerDarkerColor: #555555;
}
